{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Confirm E-mail Address" %}{% endblock %}


{% block content %}


<div class="flex w-full max-w-5xl mx-auto overflow-hidden bg-white rounded-lg shadow-md dark:bg-gray-800">
    <div class="flex items-center justify-center w-24 bg-blue-400">
        <svg class="w-6 h-6 text-white fill-current" viewBox="0 0 40 40" xmlns="http://www.w3.org/2000/svg">
            <path d="M20 3.33331C10.8 3.33331 3.33337 10.8 3.33337 20C3.33337 29.2 10.8 36.6666 20 36.6666C29.2 36.6666 36.6667 29.2 36.6667 20C36.6667 10.8 29.2 3.33331 20 3.33331ZM21.6667 28.3333H18.3334V25H21.6667V28.3333ZM21.6667 21.6666H18.3334V11.6666H21.6667V21.6666Z"/>
        </svg>
    </div>
    
    <div class="px-4 py-2 -mx-3">
        <div class="mx-3">
            <span class="font-semibold text-blue-400">{% trans "Confirm E-mail Address" %}</span>
            <p class="text-sm text-gray-600 dark:text-gray-200">
                {% if confirmation %}
                    {% user_display confirmation.email_address.user as user_display %}
                    <p class="text-center">
                        {% blocktrans with confirmation.email_address.email as email %}
                        <strong><a href="mailto:{{ email }}">{{ email }}</a></strong>がユーザー<strong>{{ user_display }}</strong>のものであることを認証して下さい。
                        {% endblocktrans %}
                    </p>
                    <form  class="mt-4"method="post" action="{% url 'account_confirm_email' confirmation.key %}">
                    {% csrf_token %}
                        <button type="submit" class="inline-flex items-center justify-center mt-6 px-4 py-2 bg-blue-400 border border-transparent rounded-lg font-semibold capitalize text-white hover:bg-blue-500 active:bg-blue-500 focus:outline-none focus:border-blue-700 focus:ring focus:ring-blue-200 disabled:opacity-25 transition">認証する</button>
                    </form>
                {% else %}
                    {% url 'account_email' as email_url %}
                    <p>{% blocktrans %}This e-mail confirmation link expired or is invalid. Please <a href="{{ email_url }}">issue a new e-mail confirmation request</a>.{% endblocktrans %}</p>
                {% endif %}
            </p>
        </div>
    </div>
</div>
{% endblock %}
