{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
<div class="col-xl-4 col-lg-6 col-md-7  col-12 m-auto">
    <div class="card border-grey border-lighten-3 m-0 box-shadow-0 card-account-right h-auto">                
        <div class="card-content m-0">                    
            <div class="card-body p-3">
                <h1 class="text-center">{% trans "Sign Out" %}</h1>
                <p class="text-center">{% trans 'Are you sure you want to sign out?' %}</p>
                <form method="post" action="{% url 'account_logout' %}">
                {% csrf_token %}
                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                {% endif %}
                <button type="submit" class="primaryAction btn-gradient-primary btn-block my-1">{% trans 'Sign Out' %}</button>
                </form>
            </div>
        </div>
    </div>
</div>




{% endblock %}
