{% extends "account/base.html" %}

{% load i18n %}
{% load widget_tweaks %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<div class="col-xl-4 col-lg-6 col-md-7  col-12 m-auto">
    <div class="card border-grey border-lighten-3 m-0 box-shadow-0 card-account-right height-auto">                
        <div class="card-content m-0">                    
            <div class="card-body p-3">
                <h1 class="text-center">{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>
                {% if token_fail %}
                    {% url 'account_reset_password' as passwd_reset_url %}
                    <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
                {% else %}
                    {% if form %}
                        <form method="POST" action="{{ action_url }}" class="signup form-horizontal form-signin">
                            {% csrf_token %}
                            <div style="width: 70%; margin: auto">
                                {% for field in form %}
                                    {{ field.label_tag }}<br>
                                    {{ field | add_class:'form-control'}}
                                    {{ field.errors }}
                                    <hr>
                                {% endfor %}
                            </div>
                            <input type="submit" name="action" value="{% trans 'change password' %}" class="btn-gradient-primary btn-block my-1"/>
                        </form>
                        {% else %}
                        <p>{% trans 'Your password is now changed.' %}</p>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
