{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
<div class="col-xl-4 col-lg-6 col-md-7  col-12 m-auto">
    <div class="card border-grey border-lighten-3 m-0 box-shadow-0 card-account-right height-auto">                
        <div class="card-content m-0">                    
            <div class="card-body p-3">
                <h1 class="text-center">{% trans "Password Reset" %}</h1>
                
                {% if user.is_authenticated %}
                    {% include "account/snippets/already_logged_in.html" %}
                {% endif %}
                
                <p class="text-center">{% blocktrans %}We have sent you an e-mail.{% endblocktrans %}</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
