{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load widget_tweaks %}


{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

<div class="w-full min-h-screen bg-gray-50 flex flex-col sm:justify-center items-center pt-6 sm:pt-0">
    <div class="w-full sm:max-w-md p-5 mx-auto">
        <h2 class="mb-12 text-center text-5xl">{% trans "Password Reset" %}</h2>
        {% if user.is_authenticated %}
            {% include "account/snippets/already_logged_in.html" %}
        {% endif %}
        <p class="text-center">{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
        <form class="mt-6" method="POST" action="{% url 'account_reset_password' %}">{% csrf_token %}
                {{ form.non_field_errors }}
                    {% for field in form %}
                        <div class="mb-4">
                            <label class="block mb-1" for="email">
                                {{ field.label_tag }}
                            </label>
                            {{ field | add_class:"py-2 px-3 border border-gray-300 focus:border-blue-300 focus:outline-none focus:ring focus:ring-blue-200 focus:ring-opacity-50 rounded-lg shadow-sm disabled:bg-gray-100 mt-1 block w-full" }}
                        </div>
                    {{ field.errors }}
                {% endfor %}
            <button class="w-full inline-flex items-center justify-center mt-6 px-4 py-2 bg-blue-400 border border-transparent rounded-lg font-semibold capitalize text-white hover:bg-blue-500 active:bg-blue-500 focus:outline-none focus:border-blue-700 focus:ring focus:ring-blue-200 disabled:opacity-25 transition" type="submit">{% trans 'Reset My Password' %}</button>
        </form>
    </div>
<div>
{% endblock %}
