{% extends 'base.html' %}
{% load static %}

{% block header %}
<link href="https://fonts.googleapis.com/css?family=Opens+Sans:300,400,700,900&display=swap" rel="stylesheet">
{% endblock %}

{% block body_wrapper %}

<body class="leading-normal tracking-normal text-white gradient" style="font-family: 'Source Sans Pro', sans-serif;">

	<!--Nav-->
	<nav id="header" class="fixed w-full z-30 top-0 text-white bg-gradient-to-r from-cyan-500 to-blue-500 ...x">

		<div class="w-full container mx-auto flex flex-wrap items-center justify-between mt-0 py-2">

			<div class="pl-4 flex items-center">
				<a class="toggleColour no-underline hover:no-underline font-bold text-2xl lg:text-4xl text-white" href="#">
					<!--Icon from: http://www.potlabicons.com/ -->
                        App Name
				</a>
			</div>

			<div class="block md:hidden pr-4">
				<button id="nav-toggle" class="flex items-center px-3 py-2 rounded text-gray-500 hover:text-gray-800 hover:border-teal-500 appearance-none focus:outline-none">
                    <svg class="fill-current h-6 w-6 text-white"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"/>
                    </svg>
                    <div>
                        
                    </div>
				</button>
			</div>

			<div class="w-full flex md:items-center md:w-auto md:block mt-2 md:mt-0bg-transparent text-black p-4 md:p-0 z-20 hidden" id="nav-content">
				<ul class="list-reset flex justify-end flex-1 items-center">
					<li class="mr-1sm:mr-3">
						<a class="inline-blocktext-black no-underline text-xs sm:text-base hover:text-gray-800 hover:text-underline py-2 px-4" href="#service">サービス内容</a>
					</li>
					<li class="mr-1sm:mr-3">
                        <a href="{% url 'account_signup' %}" class="m-2 md:py-3 hover:bg-yellow-500 bg-yellow-400 text-xs sm:text-base text-gray-800 rounded-lg my-6 py-2 sm:py-4 px-3 sm:px-6 shadow-lg">無料登録</a>
					</li>
					<li class="mr-1 sm:mr-3">
                        <a href="{% url 'account_login' %}" class="m-2 md:py-3 hover:bg-gray-200 bg-white text-gray-800 text-xs sm:text-base rounded-lg my-6 py-2 sm:py-4 px-3 sm:px-6  shadow-lg">ログイン</a>
					</li>
				</ul>
			</div>
		</div>
		<hr class="border-b border-gray-100 opacity-25 my-0 py-0">
	</nav>


	<!--Hero-->
	<div class="pt-24 bg-gradient-to-r from-cyan-500 to-blue-500 ...x">

		<div class="container px-3 mx-auto flex flex-wrap flex-col md:flex-row items-center">
			<!--Left Col-->
			<div class="flex flex-col w-full md:w-2/5 justify-center items-start text-center md:text-left">
                <h1 class="my-4 mx-auto sm:mx-0 text-3xl sm:text-5xl leading-tight text-blue-700"><strong class="font-black block">ハム大生のための知恵袋</strong></h1>
                <!-- <h1 class="my-4 text-5xl font-bold leading-tight">Main Hero Message to sell yourself!</h1> -->
				<p class="leading-normal text-gray-700 text-base sm:text-xl mb-8">
                    大学生活を送る中で困ったこと、疑問に思ったことなどはありませんか?本サービスではそのような悩みを解決できます。<br>
                </p>

                <div class="flex mx-auto md:mx-0">
                    <a href="{% url 'account_signup' %}" class="m-2 hover:bg-yellow-500 bg-yellow-400 text-gray-800 font-bold rounded-lg my-6 py-4 px-8 shadow-lg">無料登録</a>
                    <a href="{% url 'account_login' %}" class="m-2 hover:bg-gray-200 bg-white text-gray-800 font-bold rounded-lg my-6 py-4 px-8 shadow-lg">ログイン</a>
                </div>

			</div>
			<!--Right Col-->
			<div class="w-full md:w-3/5 py-6 text-center">
                <img src="{% static 'css/images/knowledge.svg' %}" alt="landing_page_illust">
			</div>

		</div>

	</div>

<!-- START サービス内容 -->
<section class="bg-white border-b m-0 py-8" id="service">
    <div class="container max-w-5xl mx-auto mt-8">
        <h1 class="w-full my-2 text-4xl font-bold leading-tight text-center text-gray-800">サービス内容</h1>
        <div class="w-full mb-4">
            <div class="h-1 mx-auto gradient w-64 opacity-25 my-0 py-0 rounded-t bg-gradient-to-r from-cyan-500 to-blue-500 ...x"></div>
        </div>
        <!-- START question -->
        <div class="flex flex-wrap">
            <div class="w-full sm:w-1/2 p-6">
                <h3 class="text-3xl text-gray-800 font-bold leading-none mb-3">15分ググって解決しなければ、即質問</h3>
                <ul class="list-disc pl-4 text-gray-600 ">
                    <li>「授業のリアルな評判を知りたい。」</li>
                    <li>「この問題がわかりません。」</li>
                    <li>「定期試験ってどんな感じ?」</li>
                </ul>
                <p class="text-gray-600 mb-8">といった、質問をすることができます。</p>
            </div>
            <div class="w-full sm:w-1/2 p-6">
                <img src="{% static 'css/images/questions.svg' %}" alt="">
            </div>
        </div>
        <!-- END question -->
        <!-- START response -->
        <div class="flex flex-wrap flex-col-reverse sm:flex-row">
            <div class="w-full sm:w-1/2 p-6 mt-6">
                <img src="{% static 'css/images/respond.svg' %}" alt="">
            </div>
            <div class="w-full sm:w-1/2 p-6 mt-6">
                <div class="align-middle">
                    <h3 class="text-3xl text-gray-800 font-bold leading-none mb-3">質問に対する回答が得られる</h3>
                    <p class="text-gray-600 mb-8">質問には他のハム大生が回答してくれます。もちろん、あなたが他の学生の質問に回答することもできます。</p>
                </div>
            </div>
        </div>
        <!-- END response -->
        <!-- START happy_news -->
        <div class="flex flex-wrap">
            <div class="w-full sm:w-1/2 p-6">
                <h3 class="text-3xl text-gray-800 font-bold leading-none mb-3">スピーディーに問題解決</h3>
                <p class="text-gray-600 mb-8">あらゆる無駄の中で最も咎めるべきは、時間の浪費です。学生同士で助け合い、ハッピーな大学生活を送りましょう。</p>
            </div>
            <div class="w-full sm:w-1/2 p-6">
                <img src="{% static 'css/images/happy_news.svg' %}" alt="">
            </div>
        </div>
        <!-- START happy_news -->
    </div>
</section>
<!-- END サービス内容 -->

<!-- START Let's start -->
<section class="m-0 text-center py-6 bg-gradient-to-r from-cyan-500 to-blue-500 ...x"">
    <h1 class="w-full my-2 text-4xl font-bold leading-tight text-center text-white">さあ、始めよう!</h1>
    <div class="w-full mb-4">
        <div class="h-1 mx-auto bg-white w-1/6 opacity-25 my-0 py-0 rounded-t"></div>
    </div>
    <h3 class="my-4 text-gray-700 text-2xl leading-tight">Let's share your valuable knowledge!</h3>
    <a href="{% url 'account_signup' %}" class="m-2 hover:bg-yellow-500 bg-yellow-400 text-gray-800 font-bold rounded-lg my-6 py-4 px-8 shadow-lg">無料登録</a>
</section>
<!-- START Let's start -->

<!--START Footer-->
<footer class="bg-white">
    <div class="container mx-auto  px-8">

        <div class="w-full flex flex-col md:flex-row py-6">

            <div class="flex-1 mb-6 text-black">

                <a class="text-blue-600 no-underline hover:no-underline font-bold text-2xl lg:text-4xl" href="#">
                    <!--Icon from: http://www.potlabicons.com/ -->
                    App Name
                </a>
            </div>


            <div class="flex-1">
                <p class="uppercase text-gray-500 md:mb-6">Links</p>
                <ul class="list-reset mb-6">
                    <li class="mt-2 inline-block mr-2 md:block md:mr-0">
                        <a href="#" class="no-underline hover:underline text-gray-800 hover:text-blue-500">FAQ</a>
                    </li>
                    <li class="mt-2 inline-block mr-2 md:block md:mr-0">
                        <a href="#" class="no-underline hover:underline text-gray-800 hover:text-blue-500">Help</a>
                    </li>
                    <li class="mt-2 inline-block mr-2 md:block md:mr-0">
                        <a href="#" class="no-underline hover:underline text-gray-800 hover:text-blue-500">Support</a>
                    </li>
                </ul>
            </div>
            <div class="flex-1">
                <p class="uppercase text-gray-500 md:mb-6">Legal</p>
                <ul class="list-reset mb-6">
                    <li class="mt-2 inline-block mr-2 md:block md:mr-0">
                        <a href="#" class="no-underline hover:underline text-gray-800 hover:text-blue-500">Terms</a>
                    </li>
                    <li class="mt-2 inline-block mr-2 md:block md:mr-0">
                        <a href="#" class="no-underline hover:underline text-gray-800 hover:text-blue-500">Privacy</a>
                    </li>
                </ul>
            </div>
            <div class="flex-1">
                <p class="uppercase text-gray-500 md:mb-6">Social</p>
                <ul class="list-reset mb-6">
                    <li class="mt-2 inline-block mr-2 md:block md:mr-0">
                        <a href="#" class="no-underline hover:underline text-gray-800 hover:text-blue-500">Facebook</a>
                    </li>
                    <li class="mt-2 inline-block mr-2 md:block md:mr-0">
                        <a href="#" class="no-underline hover:underline text-gray-800 hover:text-blue-500">Linkedin</a>
                    </li>
                    <li class="mt-2 inline-block mr-2 md:block md:mr-0">
                        <a href="#" class="no-underline hover:underline text-gray-800 hover:text-blue-500">Twitter</a>
                    </li>
                </ul>
            </div>
            <div class="flex-1">
                <p class="uppercase text-gray-500 md:mb-6">Company</p>
                <ul class="list-reset mb-6">
                    <li class="mt-2 inline-block mr-2 md:block md:mr-0">
                        <a href="#" class="no-underline hover:underline text-gray-800 hover:text-blue-500">Official Blog</a>
                    </li>
                    <li class="mt-2 inline-block mr-2 md:block md:mr-0">
                        <a href="#" class="no-underline hover:underline text-gray-800 hover:text-blue-500">About Us</a>
                    </li>
                    <li class="mt-2 inline-block mr-2 md:block md:mr-0">
                        <a href="#" class="no-underline hover:underline text-gray-800 hover:text-blue-500">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<!--END Footer-->

	<!-- jQuery if you need it
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  -->

	<!-- <script>
		var scrollpos = window.scrollY;
		var header = document.getElementById("header");
		var navcontent = document.getElementById("nav-content");
		var navaction = document.getElementById("navAction");
		var brandname = document.getElementById("brandname");
		var toToggle = document.querySelectorAll(".toggleColour");

		document.addEventListener('scroll', function() {

			/*Apply classes for slide in bar*/
			scrollpos = window.scrollY;

			if (scrollpos > 10) {
				header.classList.add("bg-white");
				navaction.classList.remove("bg-white");
				navaction.classList.add("gradient");
				navaction.classList.remove("text-gray-800");
				navaction.classList.add("text-white");
				//Use to switch toggleColour colours
				for (var i = 0; i < toToggle.length; i++) {
					toToggle[i].classList.add("text-gray-800");
					toToggle[i].classList.remove("text-white");
				}
				header.classList.add("shadow");
				navcontent.classList.remove("bg-gray-100");
				navcontent.classList.add("bg-white");
			} else {
				header.classList.remove("bg-white");
				navaction.classList.remove("gradient");
				navaction.classList.add("bg-white");
				navaction.classList.remove("text-white");
				navaction.classList.add("text-gray-800");
				//Use to switch toggleColour colours
				for (var i = 0; i < toToggle.length; i++) {
					toToggle[i].classList.add("text-white");
					toToggle[i].classList.remove("text-gray-800");
				}

				header.classList.remove("shadow");
				navcontent.classList.remove("bg-white");
				navcontent.classList.add("bg-gray-100");

			}

		});
	</script> -->


	<script>
		/*Toggle dropdown list*/
		/*https://gist.github.com/slavapas/593e8e50cf4cc16ac972afcbad4f70c8*/

		var navMenuDiv = document.getElementById("nav-content");
		var navMenu = document.getElementById("nav-toggle");

		document.onclick = check;

		function check(e) {
			var target = (e && e.target) || (event && event.srcElement);

			//Nav Menu
			if (!checkParent(target, navMenuDiv)) {
				// click NOT on the menu
				if (checkParent(target, navMenu)) {
					// click on the link
					if (navMenuDiv.classList.contains("hidden")) {
						navMenuDiv.classList.remove("hidden");
					} else {
						navMenuDiv.classList.add("hidden");
					}
				} else {
					// click both outside link and outside menu, hide menu
					navMenuDiv.classList.add("hidden");
				}
			}

		}

		function checkParent(t, elm) {
			while (t.parentNode) {
				if (t == elm) {
					return true;
				}
				t = t.parentNode;
			}
			return false;
		}
	</script>




</body>


{% endblock body_wrapper %}
