{% load widget_tweaks %}

<div class="space-y-4" id="{{response.id}}">
    <div class="flex">
        <div class="flex-shrink-0 mr-3">
            <img class="mt-2 rounded-full w-8 h-8 sm:w-10 sm:h-10" src="https://images.unsplash.com/photo-1604426633861-11b2faead63c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=200&h=200&q=80" alt="">
        </div>
        <div class="flex-1 border rounded-lg px-4 py-2 sm:px-6 sm:py-4 leading-relaxed">
            <strong>{{response.author.username}}</strong> <span class="text-xs text-gray-400">{{ response.created_at | date:"Y/m/d H:i" }}</span>
            <p class="text-sm">
                {{response.body}}
            </p>
            <div class="mt-4 flex">
                {% if user.is_authenticated %}
                <div class="pr-2 text-sm text-gray-500 font-semibold">
                    <button class="flex bg-transparent" onclick="handleReplyButton({{response.id}})">
                        <div>
                            <svg class="h-4 w-4 text-gray-500"  fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 10h10a8 8 0 018 8v2M3 10l6 6m-6-6l6-6"/>
                            </svg>
                        </div>
                        <div>
                            返信
                        </div>
                    </button>
                </div>
                {% endif %}
                <div class="text-sm text-gray-500 font-semibold">
                    {% if response.get_responses %}
                    <button class=" flex bg-transparent border-0" onclick="handleShowReply({{response.id}})">
                        <div>
                            <svg class="h-4 w-4 text-gray-500"  width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">  <path stroke="none" d="M0 0h24v24H0z"/>  <line x1="9" y1="6" x2="20" y2="6" />  <line x1="9" y1="12" x2="20" y2="12" />  <line x1="9" y1="18" x2="20" y2="18" />  <line x1="5" y1="6" x2="5" y2="6.01" />  <line x1="5" y1="12" x2="5" y2="12.01" />  <line x1="5" y1="18" x2="5" y2="18.01" /></svg>
                        </div>
                        <div>
                            {{response.get_responses.count}}件の返信を<span id="show-hide-txt">表示</span>
                        </div>
                    </button>
                    {% endif %}
                </div>
            </div>
            <!--START 返信form表示 -->
            <div class="" id="collapse-{{response.id}}-reply">
                <blockquote id="reply-form-container-{{response.id}}" class="hidden reply-form-container ml-1 pl-1 border-left">
                    <form method="POST" action="/reply/">{% csrf_token %}
                        <input type="hidden" name="question" value="{{question.id}}"/>
                        <input type="hidden" name="parent" value="{{response.id}}"/>
                        {{reply_form.body | add_class:"py-2 px-3 border border-gray-300 focus:border-blue-300 focus:outline-none focus:ring focus:ring-blue-200 focus:ring-opacity-50 rounded-lg shadow-sm disabled:bg-gray-100 mt-1 block w-full"}}
                        <br>
                        <button class="text-sm text-gray-500 font-semibold">返信</button>
                    </form>
                </blockquote>
            </div>
            <!--END 返信form表示 -->
            <!--START 返信一覧を表示 -->
            <div class="hidden show-reply-container" id="dropdown-{{response.id}}-show-reply">
                {% for children in response.get_responses %}
                    {% include 'main/response.html' with response=children %}
                {% endfor %}
            </div>
            <!--END 返信一覧を表示 -->
        </div>
    </div>
</div>
