{% extends 'main/base.html' %}
{% block body %}
    <div class="w-50 h-100 m-auto pt-5">
        <h1 style="text-align: center">
            府大生専用のQ&Aサイト<br>
            府大賢者
        </h1>
        <p class="text-center mt-3">
            大学生活を送る中で困ったこと、疑問に思ったことなどあれば気軽に質問してください。<br>
            きっと、良いアドバイスがもらえるでしょう。
        </p>
        <div class="text-center my-5">
            <a class="btn-gradient-primary white " href="{% url 'main:new_question' %}">質問する</a>
        </div>
    </div>
        {% endblock body%}
