{% extends "main/base.html" %}

{% load i18n %}

{% block body %}
<div class="app-content content">
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-left col-md-8 col-12 mb-2 breadcrumb-new">
            <h3 class="content-header-title mb-0 d-inline-block">マイページ</h3>
            <div class="row breadcrumbs-top d-inline-block">
                <div class="breadcrumb-wrapper col-12">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="{% url 'main:top_page' %}">Toppage</a>
                    </li>
                    <li class="breadcrumb-item active">マイページ
                    </li>
                </ol>
                </div>
            </div>
            </div>
            <div class="content-header-right col-md-4 col-12 d-none d-md-inline-block">
            <div class="btn-group float-md-right"><a class="btn-gradient-primary white" href="{% url 'main:new_question' %}">質問する</a></div>
            </div>
        </div>


        <div class="row">
            <div class="col-md-2 col-12 order-1">
                {% include "main/mypage/subnav.html" %}
            </div>
            <div class="col-md-10 col-12 order-2">
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
</div>
{% endblock %}