{% extends "main/base.html" %}

{% load i18n %}

{% block body %}

    {% block content %}
    {% endblock %}

<!-- タブの切り替え処理 -->
<!-- <script type="text/javascript">
        $(document).ready(function(event){
        $(document).on('click', '.tab a', function(event){
            event.preventDefault();
            var tab_id = $(this).attr('id');
            const activate_class = 'border border-b-0 rounded-t-md'
            const deactivate_class = 'border-b'
            $('.tab a').removeClass(activate_class);
            $('.tab a').addClass(deactivate_class);
            $(this).removeClass(deactivate_class);
            $(this).addClass(activate_class);
        }
        )})
</script> -->

{% endblock %}