{% extends "main/mypage/base.html" %}

{% block content %}
<div class="tab mt-24 flex overflow-x-auto">
    
    <a href="{% url 'main:profile' %}" id="my_question" class="flex items-center h-12 px-4 py-2 text-sm text-center text-gray-700 bg-transparent border-b border-gray-300 sm:text-base dark:border-gray-500 dark:text-white whitespace-nowrap cursor-base focus:outline-none hover:border-gray-400 dark:hover:border-gray-300">
        プロフィール
    </a>

    <a href="{% url 'main:my_q_list' %}" id="profile" class="flex items-center h-12 px-4 py-2 text-sm text-center text-gray-700 bg-transparent border-b border-gray-300 sm:text-base dark:border-gray-500 dark:text-white whitespace-nowrap cursor-base focus:outline-none hover:border-gray-400 dark:hover:border-gray-300">
        自分の質問
    </a>
    
    <a href="{% url 'main:liked_list' %}" id=liked_question" class="flex items-center h-12 px-4 py-2 text-sm text-center text-gray-700 border border-b-0 border-gray-300 sm:text-base dark:border-gray-500 rounded-t-md dark:text-white whitespace-nowrap focus:outline-none">
        いいねした質問
    </a>
    <a href="{% url 'account_set_password' %}" id="pw_change" class="flex items-center h-12 px-4 py-2 text-sm text-center text-gray-700 bg-transparent border-b border-gray-300 sm:text-base dark:border-gray-500 dark:text-white whitespace-nowrap cursor-base focus:outline-none hover:border-gray-400 dark:hover:border-gray-300">
        パスワード変更
    </a>
    <a href="{% url 'main:delete_confirm' %}" id="delete" class="flex items-center h-12 px-4 py-2 text-sm text-center text-gray-700 bg-transparent border-b border-gray-300 sm:text-base dark:border-gray-500 dark:text-white whitespace-nowrap cursor-base focus:outline-none hover:border-gray-400 dark:hover:border-gray-300">
        退会
    </a>
</div>

<div class="">
    <div class="my-4 mx-auto sm:w-full md:w-1/2">
        {% include 'main/simple_pagination.html' %}
        <!--STRAT 質問一覧 -->
        {% for question in liked_questions %}
        <div class="my-4 px-8 py-4 mx-4 bg-white rounded-lg shadow-md dark:bg-gray-800">
            <div class="flex items-center justify-between">
                <span class="text-sm font-light text-gray-600 dark:text-gray-400">{{ question.created_at | date:"Y/m/d H:i" }} by {{ question.author }}</span>
                <a href="{% url 'main:question' question.id %}" class="px-3 py-1 text-sm font-bold text-gray-100 transition-colors duration-200 transform bg-gray-600 rounded cursor-pointer hover:bg-gray-500">回答</a>
            </div>
            
            <div class="mt-2">
                <a href="{% url 'main:question' question.id %}" class="text-2xl font-bold text-gray-700 dark:text-white hover:text-gray-600 dark:hover:text-gray-200 hover:underline">{{ question.title }}</a>
                <p class="mt-2 text-gray-600 dark:text-gray-300">{{ question.body|truncatechars_html:100}}</p>
            </div>
            
            <div class="text-right">
                {% include 'main/like.html' %}
            </div>
        </div>
        {% endfor %}
        <!--END 質問一覧 -->
        {% include 'main/simple_pagination.html' %}
    </div>
</div>




<script type="text/javascript">
    $(document).ready(function(event){
        $(document).on('click', '#like', function(event){
            event.preventDefault();
            $.ajax({
                type: 'POST',
                url: "{% url 'main:like' %}",
                data: {
                    'question_id': $(this).attr('name'),
                    'csrfmiddlewaretoken': '{{ csrf_token }}'},
                dataType: 'json',
                success: function(response){
                    selector = document.getElementsByName(response.question_id);
                    if(response.liked){
                        $(selector).html("<i class='fas fa-thumbs-up fa-lg'></i>");
                    }
                    else {
                        $(selector).html("<i class='far fa-thumbs-up fa-lg'></i>");
                    }
                    selector2 = document.getElementsByName(response.question_id + "-count");
                    $(selector2).text(response.count);
                }
            });
        });
    });
</script>

{% endblock %}