{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- BEGIN FontAwesome -->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <!-- END fontawesome -->
    <!-- BEGIN jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- End jQuery -->
    <!-- START Tailwind -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- END Tailwind -->

    {% block header %}
    {% endblock header %}
</head>
<body class="bg-gray-100">
    {% block body_wrapper %}
    {% endblock body_wrapper %}
</body>
</html>
