asgiref
beautifulsoup4
certifi
cffi
charset-normalizer
cryptography
defusedxml
Django
django-allauth
django-bootstrap4
django-environ
django-pure-pagination
django-widget-tweaks
gunicorn
idna
oauthlib
pycparser
PyJWT
python3-openid
pytz
requests
requests-oauthlib
soupsieve
sqlparse
urllib3
psycopg2-binary
